# PrinterFFF
[include config/printers/ender_3/ender_3_base.cfg]
# [include config/printers/ender_3/tmc2209_stealth.cfg]
[include config/printers/ender_3/tmc2209.cfg]

# Printer Features
[include config/printers/ender_3/features/bed_screws.cfg]
[include config/printers/ender_3/features/screws_tilt_adjust.cfg]

# Board
[include config/boards/mks_sgen_l_v2.0.cfg]

# Extruder
[include config/extruders/orbiter.cfg]

# Hotend
[include config/hotends/rapido.cfg]
[include config/fans/hotend_heatsink_fan.cfg]

# Probe
[include config/probes/bltouch.cfg]

# Homing
# [include config/printers/ender_3/homing_slow.cfg]
[include config/printers/ender_3/homing_fast.cfg]
[include config/printers/ender_3/features/safe_z_home.cfg]

# Speed Limits
# [include config/printers/ender_3/speeds/speed_limits_safe.cfg]
# [include config/printers/ender_3/speeds/speed_limits_normal.cfg]
[include config/printers/ender_3/speeds/speed_limits_fast.cfg]

# Display & Menus
# [include config/displays/creality_st7920.cfg]
# [include config/menus/*.cfg]

# Calibration
[include config/calibration/*.cfg]

# Add-Ons
# [include confg/addons/e_stop_button.cfg
[include config/addons/pi_host_temp.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_18200115A59869AFA2923F5EC12000F5-if00
restart_method: command

[board_pins]
aliases:
  HOTEND_HEATSINK_FAN=FAN2

[safe_z_home]
home_xy_position: 165, 120

[input_shaper]
shaper_freq_x: 41
shaper_freq_y: 35

[bed_mesh]
mesh_min: 5, 5
mesh_max: 195, 210
algorithm: bicubic
probe_count: 7
fade_end: 0.0
speed: 150

[bltouch]
x_offset: -55
y_offset: -10
sample_retract_dist: 3
speed: 12
lift_speed: 12
samples: 5
samples_tolerance: 0.01
samples_tolerance_retries: 25
stow_on_each_sample: False
probe_with_touch_mode: True
# z_offset: 0

[heater_fan hotend_heatsink_fan]
fan_speed: 0.3

[stepper_y]
position_endstop: -9
position_min: -9

[stepper_x]
dir_pin: !X_DIR # for some ungodly reason this one is wired backwards
position_max: 250

[stepper_z]
dir_pin: Z_DIR
# position_endstop: 0
endstop_pin: probe:z_virtual_endstop

[firmware_retraction]
retract_length: 0.5 # Uncomment for direct drive

[tmc2209 extruder]
run_current: 0.8

[extruder]
# pressure_advance: 0.065 # PETG
pressure_advance: 0.04
nozzle_diameter: 0.4
# control: pid
# pid_Kp: 0
# pid_Ki: 0
# pid_Kd: 0

[heater_bed]
#control: pid
#pid_Kp: 0
#pid_Ki: 0
#pid_Kd: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.551
#*# pid_ki = 0.982
#*# pid_kd = 1231.048
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.804
#*# pid_ki = 1.840
#*# pid_kd = 64.594
#*#
#*# [bltouch]
#*# z_offset = 1.250
#*#
#*# [bed_mesh 65C]
#*# version = 1
#*# points =
#*# 	  0.079750, 0.159375, 0.045625, 0.071000, 0.085125, 0.075750, 0.182375
#*# 	  0.239500, 0.053000, -0.016875, -0.021250, 0.060375, 0.026500, 0.081875
#*# 	  0.137625, 0.106625, -0.038375, 0.000875, 0.073500, 0.017750, 0.061375
#*# 	  -0.012375, 0.070125, 0.007500, -0.004750, -0.030375, -0.041875, 0.068250
#*# 	  -0.015750, 0.054000, -0.028875, -0.040625, 0.022750, -0.002125, 0.027750
#*# 	  0.011875, 0.092750, -0.014875, -0.017625, -0.027125, -0.066875, 0.051500
#*# 	  0.009250, 0.089875, -0.046875, -0.085750, -0.045750, -0.082750, -0.029000
#*# tension = 0.2
#*# min_x = 5.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 5.0
#*# x_count = 7
#*# max_y = 209.96
#*# mesh_x_pps = 2
#*# max_x = 194.96
