# Printer
[include config/printers/ender_3/ender_3_base.cfg]
# [include config/printers/ender_3/tmc2209_stealth.cfg]
# [include config/printers/ender_3/tmc2209.cfg]

# Printer Features
[include config/printers/ender_3/features/bed_screws.cfg]
[include config/printers/ender_3/features/screws_tilt_adjust.cfg]

# Board
[include config/boards/creality_v4.2.2.cfg]

# Extruder
[include config/extruders/orbiter.cfg]

# Hotend
[include config/hotends/dragon.cfg]

# Probe
# [include config/probes/bltouch.cfg]

# Homing
[include config/printers/ender_3/homing_fast.cfg]
[include config/printers/ender_3/features/safe_z_home.cfg]

# Speed Limits
# [include config/printers/ender_3/speeds/speed_limits_safe.cfg]
# [include config/printers/ender_3/speeds/speed_limits_normal.cfg]
[include config/printers/ender_3/speeds/speed_limits_fast.cfg]

# Display & Menus
[include config/displays/creality_st7920.cfg]
[include config/menus/overrides/*.cfg]
[include config/menus/*.cfg]

# Calibration
[include config/calibration/*.cfg]

# Add-Ons
# [include confg/addons/e_stop_button.cfg]
[include config/addons/pi_host_temp.cfg]

[mcu]
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.2:1.0-port0
restart_method: command

[firmware_retraction]
retract_length: 0.5

[input_shaper]
shaper_freq_x: 53
shaper_freq_y: 50

[extruder]
sensor_type: PT1000
# max_extrude_only_velocity: 200
# max_extrude_only_accel: 5000
# pressure_advance: 0.06 # eSUN PETG - MarsOrbiter
pressure_advance: 0.054 # JESSIE PETG - SaturnOrbiter
pressure_advance_smooth_time: 0.030
# control: pid
# pid_Kp: 0
# pid_Ki: 0
# pid_Kd: 0

[heater_bed]
# control: pid
# pid_Kp: 0
# pid_Ki: 0
# pid_Kd: 0

[stepper_z]
#position_endstop: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.442
#*# pid_ki = 1.546
#*# pid_kd = 896.098
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.666
#*# pid_ki = 1.597
#*# pid_kd = 95.273
#*#
#*# [stepper_z]
#*# position_endstop = 0.402
#*#
#*# [skew_correction skew_profile]
#*# xy_skew = -0.00191198810914
#*# xz_skew = 0.0
#*# yz_skew = 0.0
