# Printer
[include config/printers/ender_3/ender_3_base.cfg]
[include config/printers/ender_3/steppers.cfg]
# [include config/printers/ender_3/tmc2209_stealth.cfg]
# [include config/printers/ender_3/tmc2209.cfg]
[include config/printers/ender_3/features/bed_screws.cfg]

# Board
[include config/boards/fysetc_spider_v1.0.cfg]

# Extruder
[include config/extruders/orbiter.cfg]

# Hotend
[include config/hotends/dragon.cfg]

# Probe
# [include config/probes/bltouch.cfg]
# [include config/printers/ender_3/features/screws_tilt_adjust.cfg] # Requires probe

# Homing
# [include config/printers/ender_3/homing_slow.cfg]
[include config/printers/ender_3/homing_fast.cfg]
[include config/printers/ender_3/features/safe_z_home.cfg]

# Speed Limits
# [include config/printers/ender_3/speeds/speed_limits_safe.cfg]
[include config/printers/ender_3/speeds/speed_limits_normal.cfg]
# [include config/printers/ender_3/speeds/speed_limits_fast.cfg]

# Display & Menus
# [include config/displays/creality_st7920.cfg]
# [include config/menus/*.cfg]

# Calibration
# [include config/calibration/*.cfg]

# Add-Ons
# [include confg/addons/e_stop_button.cfg]
[include config/addons/pi_host_temp.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_28003F000350305538333620-if00
restart_method: command

[extruder]
# retraction_distance: 0.5 # Uncomment for direct drive
pressure_advance: 0
control: pid
pid_Kp: 0
pid_Ki: 0
pid_Kd: 0

[heater_bed]
control: pid
pid_Kp: 0
pid_Ki: 0
pid_Kd: 0

[stepper_z]
position_endstop: 0